@model ENB.Doctors.Practise.MVC.Models.CreateAndEditPatientRecord
@using ENB.Doctors.Practise.Entities
@{
    ViewData["Title"] = "RecordperPatientEdit";
}

<div class="alert alert-primary" role="alert">
    <h2><strong>Edit patient Record</strong></h2>
</div>
<div class="row">
    <div class="col-md-12">
        <form asp-action="RecordperPatientEdit" asp-route-PatientId="@ViewBag.Idpatient" asp-route-Id="@ViewBag.Id">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="card-header">
                            <label asp-for="Staff" class="control-label"></label>
                        </div>
                        <select id="drpEmpList" class="form-control" asp-for="StaffId" asp-items="@(new SelectList(Model.ListStaff, "Value", "Text"))">
                            <option value="">--Select--</option>
                        </select>
                        <span asp-validation-for="StaffId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="card-header">
                        <label asp-for="Component_Code" class="control-label"></label></div>
                        <select asp-for="Component_Code" class="form-control" asp-items="Html.GetEnumSelectList<Component_Code>()"></select>
                        <span asp-validation-for="Component_Code" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="card-header" style="margin:10px 0px 10px 0px">
                            <label asp-for="Other_Details" class="control-label"></label>
                        </div>
                        <textarea asp-for="Other_Details" type="text" class="form-control" rows="5" autofocus></textarea>
                        <span asp-validation-for="Other_Details" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <a asp-action="RecordperPatientList" asp-route-PatientId="@ViewBag.Idpatient" class="btn btn-secondary btn-block col-md-4">Back to List</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

