@model ENB.Doctors.Practise.MVC.Models.CreateAndEditPatient
@using ENB.Doctors.Practise.Entities
@{
    ViewData["Title"] = "Create";
}

<div class="alert alert-primary" role="alert">
    <h2><strong>Edit Patient</strong></h2>
</div>
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="card-header">
                            <label asp-for="Patient_first_name" class="control-label"></label>
                        </div>
                        <input asp-for="Patient_first_name" class="form-control" />
                        <span asp-validation-for="Patient_first_name" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="card-header">
                            <label asp-for="Patient_last_name" class="control-label"></label>
                        </div>
                        <input asp-for="Patient_last_name" class="form-control" />
                        <span asp-validation-for="Patient_last_name" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="card-header" style="margin-top:10px">
                            <label asp-for="Patient_mailAddress" class="control-label"></label>
                        </div>
                        <input asp-for="Patient_mailAddress" class="form-control" />
                        <span asp-validation-for="Patient_mailAddress" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="card-header" style="margin-top:10px">
                            <label asp-for="Height" class="control-label"></label>
                        </div>
                        <input asp-for="Height" class="form-control" />
                        <span asp-validation-for="Height" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="card-header" style="margin-top:10px">
                            <label asp-for="Hospital_Number" class="control-label"></label>
                        </div>
                        <input asp-for="Hospital_Number" class="form-control" />
                        <span asp-validation-for="Hospital_Number" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="card-header" style="margin-top:10px">
                            <label asp-for="nhs_number" class="control-label"></label>
                        </div>
                        <input asp-for="nhs_number" class="form-control" />
                        <span asp-validation-for="nhs_number" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="card-header" style="margin-top:10px">
                            <label asp-for="Gender" class="control-label"></label>
                        </div>
                        <select asp-for="Gender" class="form-control" asp-items="Html.GetEnumSelectList<Gender>()"></select>
                        <span asp-validation-for="Gender" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="card-header" style="margin-top:10px">
                            <label asp-for="Date_Of_Birth" class="control-label"></label>
                        </div>
                        <input asp-for="Date_Of_Birth" class="form-control" />
                        <span asp-validation-for="Date_Of_Birth" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="card-header" style="margin-top:10px">
                            <label asp-for="Weight" class="control-label"></label>
                        </div>
                        <input asp-for="Weight" class="form-control" />
                        <span asp-validation-for="Weight" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="card-header" style="margin-top:10px">
                            <label asp-for="Next_of_kin" class="control-label"></label>
                        </div>
                        <input asp-for="Next_of_kin" class="form-control" />
                        <span asp-validation-for="Next_of_kin" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="card-header" style="margin-top:10px">
                            <label asp-for="Cell_Mobile_phone" class="control-label"></label>
                        </div>
                        <input asp-for="Cell_Mobile_phone" class="form-control" />
                        <span asp-validation-for="Cell_Mobile_phone" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="card-header" style="margin-top:10px">
                            <label asp-for="Other_patient_details" class="control-label"></label>
                        </div>
                        <textarea asp-for="Other_patient_details" type="text" class="form-control" rows="5" autofocus></textarea>
                        <span asp-validation-for="Other_patient_details" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <a asp-action="Index" class="btn btn-secondary btn-block col-md-4">Back to List</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
