@{
    ViewData["Title"] = "Home Page";
}


<div class="jumbotron">
    <div class="alert alert-info" role="alert">
        <div class="text-center">
            <h1><strong>ENB.Doctors.Practise MVC (EF CORE)</strong></h1>
        </div>
    </div>
    <div class="text-center">
        <img src="~/images/doctor2.jpg" class="rounded mx-auto d-block" alt="Responsive image" width="800" />
    </div>
</div>