@page "/"

<PageTitle>Index</PageTitle>
<div class="jumbotron">
    <div class="alert alert-info" role="alert">
        <div class="text-center">
            <h1>
                <strong>
                    ENB Doctors Practise (.NET 6)<br />
                    Blazor Webassembly with Web Api
                </strong>
            </h1>
        </div>
    </div>
    <div class="text-center">
        <img src="Images/doctor2.jpg" class="rounded mx-auto d-block" alt="Responsive image" width="900" />
    </div>
</div>

<SurveyPrompt Title="How is Blazor working for you?" />
